{% extends 'quizi/base_layout_quizi.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css  %}
    <link rel="stylesheet" href="{% static 'quizi/css/quizi_home.css' %}">
    {% endblock %}
    <title>{% block title %} Quizi {% endblock %}</title>
</head>
<body>
    {% block content %}
    <div class="quizi--layout">
        <!-- quizi filter -->
        <div class="quizi--layout__filter">
            <div class="quizi--layout__filter__type-quizi">
                <label for="type_quizi" class="quizi--layout__filter__type-quizi__label">Thể loại</label>
                <select name="type_quizi" id="type_quizi" class="quizi--layout__filter__type-quizi__subject">
                    <option value="all">Tất Cả</option>
                    <option value="math">Toán</option>
                    <option value="literature">Văn</option>
                    <option value="chemical">Hóa học</option>
                    <option value="geography">Địa Lý</option>
                    <option value="physical">Vật Lý</option>
                    <option value="history">Lịch Sử</option>
                </select>
            </div>
            <div class="quizi--layout__filter__order-by">
                <label for="type_quizi" class="quizi--layout__filter__order-by__label">Thời Gian</label>
                <select name="type_quizi" id="type_quizi" class="layout__filter__order-by__inp">
                    <option value="time">Mới Nhất</option>
                    <option value="number">Lượt Thi</option>
                </select>
            </div>
        </div>
        <!-- quizi list -->
        <div class="quizi--layout__content grid">
            <div class="quizi--layout__content__list row">
                {% for exam in list_quizi %}
                <div class="content__list__item col lg-2 md-3 sm-6 xs-12">
                    <a href="/quizi/home/intro/{{exam.id}}" class="content__list__item__link">
                        <div class="content__list__item__link__background" style="background-image: url('/media/background_item.png');"></div>
                        <div class="content__list__item__link__info">
                            <div class="content__list__item__link__info__title">
                                <p class="content__list__item__link__info__title__text">
                                    {{exam.title_exam}}
                                </p>
                            </div>
                            <div class="content__list__item__link__info__auth">
                                <img src="{{exam.maker_exam.user_img}}" alt="" class="content__list__item__link__info__auth__avatar">
                                <span class="content__list__item__link__info__auth__name">
                                    {{exam.maker_exam}}
                                </span>
                            </div>
                            <div class="content__list__item__link__info__more">
                                <div class="content__list__item__link__info__more__time">
                                    {{exam.create_time}}
                                </div>
                                <div class="content__list__item__link__info__more__time__views">
                                    {{exam.number_of_times}}
                                    <i class="fas fa-pen-alt"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
    {% block overlay %}
    <div class="overlay grid">
    <div class="overlay_container row">
        <div class="overlay_container_tabs col lg-0 md-0 sm-8 xs-10">
            <div class="overlay_container_tabs_user">
                <img src="{% static 'images/userdefault.png'%}" alt="" class="overlay_container_tabs_user_avatar">
                <span class="overlay_container_tabs_user_name">
                    {{user.account_name}}
                </span>
            </div>

            <div class="overlay_container_tabs_options">
                <ul class="overlay_container_tabs_options_list">
                    <li class="overlay_container_tabs_options_list_item">
                        <a href="/" class="overlay_container_tabs_options_list_item_link">
                            Về Trang Chủ
                        </a>
                    </li>
                    <li class="overlay_container_tabs_options_list_item">
                        <a href="/user-dashboard/" class="overlay_container_tabs_options_list_item_link">
                            Quản Lý Bài Viết
                        </a>
                    </li>
                    <li class="overlay_container_tabs_options_list_item">
                        <a href="quizi-dashboard/" class="overlay_container_tabs_options_list_item_link">
                            Chắc Nghiệm
                        </a>
                    </li>
                    <li class="overlay_container_tabs_options_list_item">
                        <a href="#" class="overlay_container_tabs_options_list_item_link">
                            Chỉnh Sửa Thông Tin
                        </a>
                    </li>
                    <li class="overlay_container_tabs_options_list_item">
                        <a href="javascipt: logOut()" class="overlay_container_tabs_options_list_item_link">
                            Đăng Xuất
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div onclick="hidenTabs()" class="overlay_container_background col lg-0 md-0 sm-4 xs-2"></div>
    </div>
    </div>
    {% endblock %}
    {% block js %}
    <script src="{% static 'quizi/js/base_navbar.js' %}"></script>
    <script src="{% static 'quizi/js/log_out.js' %}"></script>
    <script src="{% static 'quizi/js/quizi_home.js' %}"></script>
    {% endblock %}
</body>
</html>