/* ==== PC ==== */

@media (min-width: 1200px) {
    /* pc layout */
    .intro {
        padding: 12px 24px 12px;
    }

    /* pc heading */
    .intro__heading {
        text-align: center;
        font-size: 2.8rem;
        color: #1a1a1a;
        padding-bottom: 12px;
        border-bottom: 1px solid #ff4500;
    }

    /* pc rules */
    .intro__heading__rules {
        padding-top: 12px;
        text-align: start;
        font-size: 1.6rem;
        color: #1a1a1a;
        font-weight: 700;
    }

    /* pc rules heading */
    .intro__heading__rules__heading {
        text-align: center;
        margin-bottom: 24px;
    }

    /* pc rules row */
    .intro__heading__rules__row {
        margin-bottom: 6px;
    }

    /* pc actions */
    .intro__actions {
        display: flex;
        justify-content: center;
        padding-top: 24px;
    }

    /* pc actions */
    .intro__actions__btn {
        font-size: 1.6rem;
        padding: 4px 4px;
        background-color: #48BF91;
        color: #fff;
        border-radius: 6px;
        cursor: pointer;
    }

    /* pc actions */
    .intro__actions__btn:hover {
        filter: brightness(90%)
    }
}